Package: dev.theos.dependencies2
Name: Theos Dependencies
Depends: clang, curl, firmware (>=12.0), git, grep, gzip, ldid, make, odcctools, perl, rsync, xz | xz-utils
Reccomends: plutil | com.bingner.plutil | libplist-utils, swift, zip
Conflicts: dev.theos.dependencies, org.theos.dependencies, theos-dependencies
Provides: org.theos.dependencies, theos-dependencies
Version: 1.0.0
Architecture: iphoneos-arm
Description:
 Procursus-based jailbreaks, add https://apt.procursus.us before installing this package
 Elucubratus-based jailbreaks, add https://apt.bingner.com before installing this package

 A meta package that provides what Theos needs including
 curl, git, grep, gzip, perl, rsync, xz utils, and a toolchain.

 For devices running iOS >= 12.0. For devices running iOS << 12.0, see dev.theos.dependencies.
Maintainer: lightmann
Author: lightmann
Section: Development
