Package: dev.theos.dependencies2
Name: Theos Dependencies
Depends: ca-certificates, clang, coreutils, curl, dpkg, firmware (>=12.0), git, grep, ldid, make, odcctools, perl, plutil | com.bingner.plutil | libplist-utils, rsync, xz | xz-utils
Conflicts: dev.theos.dependencies, org.theos.dependencies, theos-dependencies
Provides: org.theos.dependencies, theos-dependencies
Version: 1.0.0
Architecture: iphoneos-arm
Description:
 Procursus-based jailbreaks, add https://apt.procursus.us before installing this package
 Elucubratus-based jailbreaks, add https://apt.bingner.com before installing this package

 A meta package that provides what Theos needs including cacerts, clang, coreutils, curl, dpkg,
 git, grep, ldid, make, darwin cc tools, perl, plutil or plistutil, rsync, and xz utils.

 For devices running iOS >= 12.0. For devices running iOS << 12.0, see dev.theos.dependencies.
Maintainer: lightmann
Author: lightmann
Section: Development
